@charset "UTF-8";

body {
    background-color: rgb(113, 195, 113);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(18, 106, 18);
}

#principal {
    text-align: center;
    background-color:rgb(18, 106, 18); 
    color: white;
}

h2 {
    color: rgb(8, 169, 8);
}