@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #A0A9D9, #C7B3F2);
}

main{
    background-color: white;
    border-radius: 10px; /*border-radius arredonda as bordas*/
    box-shadow: 5px 5px 15px hwb(213 7% 77% / 0.686); /*box-shaddow: quanto a sombra anda para o lado  quanto a sombra anda para baixo  quanto a sombra vai espalhar  cor da sombra;*/
    width: 600px; /*width vai dizer qual a largura que o texto vai ocupar na página */
    padding: 10px; /*padding  dá uma espaçamento na razão entre o texto e suas margens, não deixando muito encostado*/
    margin: auto;/*margin:auto centraliza o conteúdo independente do tamanho da tela*/
}

h1{
    color:purple;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(243, 138, 243);
    /*text-shadow tem um mesmo padrão de configuração de box-shadow*/
}

h2{
    color:darkcyan;

}

p{
    text-align: justify;
}